@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat'; 
    src: url('../assets/fonts/Montserrat-Light.ttf');
  }

body {
    font-family: 'Montserrat';
}

.svg-logo-top {
    width: 120px;
}

.wrap-navbar-content {
    @apply px-5 mx-auto;
}

.wrap-price-list {
    @apply pl-5 pr-0;
}

.wrap-price-list .wrap-inner {
    @apply flex flex-no-wrap text-center overflow-x-scroll
}

.notification-banner {
    width: 100%;
}

.contact-footer {
    @apply text-center mx-auto leading-tight mb-3;
    width: 100%;
}

.nav-footer {
    @apply mx-2 text-xs;
}

.wrap-footer {
    @apply mt-20 pb-2 pt-2 flex flex-wrap;
}

.highlight-news-first, .highlight-news-second {
    height: 100%;
}

.wrap-footer-price {
    @apply pt-20 relative;
    background-color: #2B2E35;
    margin-top: 210px;
}

.wrap-footer-price.custom-height {
    margin-top: 280px;
}

.box-contactus {
    @apply px-5 pt-4 pb-10 mt-0 bg-white shadow-lg rounded-lg text-left;
    margin-top: 15px;
}

.wrap-contact {
    height: 550px;
    margin-bottom: 90px;
}

.panel-shadow-modal-member {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 500px) {
    .nav-footer {
        @apply w-full mb-3;
    }
    
    .wrap-footer div {
        @apply w-full mb-3;
    }
}

@media screen and (max-width: 767px) {
    body {
        padding: 0px !important;
    }
}

@screen sm {
    .notification-banner {
        width: 95%;
    }

    .wrap-price-list {
        @apply pl-5 pr-5;
    }

    .wrap-price-list .wrap-inner {
        @apply flex-wrap overflow-visible;
    }

    .contact-footer {
        width: 90%;
    }

    .nav-footer {
        @apply mx-5 text-sm;
    }

    .highlight-news-first {
        height: 500px;
    }

    .highlight-news-second {
        height: 244px;
    }

    .wrap-footer-price {
        margin-top: 500px;
    }

    .wrap-footer-price.custom-height {
        margin-top: 700px;
    }

    .wrap-contact {
        margin-bottom: 110px;
    }
}

@screen md {
    .wrap-navbar-top {
        @apply h-auto relative bg-transparent px-5 pt-8;
        @apply opacity-100 z-0 ml-auto !important;
    }

    .wrap-navbar-content {
        @apply h-auto relative px-5 pt-8;
    }

    .svg-logo-top {
        @apply w-auto;
    }

    .notification-banner {
        width: 90%;
    }

    .contact-footer {
        width: 80%;
    }

    .box-contactus {
        @apply mt-5 px-10;
        margin-top: 90px;
    }

    .wrap-contact {
        margin-bottom: 180px;
    }

    .panel-shadow-modal-member {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
}

@screen lg {
    .wrap-navbar-top {
        @apply px-10;
    }

    .wrap-navbar-content {
        @apply px-10;
    }
    
    .notification-banner {
        width: 80%;
    }

    .contact-footer {
        width: 70%;
    }
}

@screen xl {
    .wrap-navbar-top {
        @apply px-20;
    }

    .wrap-navbar-content {
        @apply px-20;
    }

    .notification-banner {
        width: 70%;
    }
}

.animate {
    animation: shimmer 3s infinite;
    background: linear-gradient(to right, #e8e7e7 50%, #eff1f3 100%);
    background-size: 1000px;
}
@keyframes shimmer {
    0% {
        background-position: -1000px;
    }
    100% {
        background-position: 1000px;
    }
}

.test {
    @tailwind bg-blue;
}